# Object file
*.o
# Ada Library Information
*.ali
/DQCupJinYC/bin
*.zip
*.txt
/DQCupJinYC/src/dqcup/repair/mytest/CompareTest.java
compare/

compare/out-easy.txt
compare/out-normal-re.txt
compare/out-normal.txt
